<div class="container mt-5" style="max-width: 400px">
  <h3 class="mb-3 text-center">Register</h3>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input class="form-control" formControlName="username" />
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input class="form-control" formControlName="email" />
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>

    <button class="btn btn-success w-100" type="submit">
      Register
    </button>
  </form>

  <ng-container *ngIf="result$ | async as result">
    <div *ngIf="result" class="alert alert-danger mt-3">
      {{ result }}
    </div>
  </ng-container>

  <div class="text-center mt-3">
    <a routerLink="/login">Already have an account? Login</a>
  </div>
</div>