<div class="container mt-4">
  <h2>Players</h2>

  <ng-container *ngIf="players$ | async as players; else loading">
    <div class="row">
      <div class="col-md-3 mb-3" *ngFor="let player of players">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h6>{{ player.name }}</h6>
            <p class="text-muted">{{ player.position }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="alert alert-info">Loading players...</div>
  </ng-template>
</div>