<div class="container mt-4">
  <h2>Leagues</h2>

  <ng-container *ngIf="leagues$ | async as leagues; else loading">
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let league of leagues">
        <div class="card h-100 shadow-sm text-center">
          <div class="card-body">
            <h5>{{ league.name }}</h5>
            <p class="text-muted">{{ league.country }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="alert alert-info">Loading leagues...</div>
  </ng-template>
</div>